<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>My Webpage</title>

	<style type="text/css">	
	#navigation ul
	{
	    margin: 0;
	    padding: 0;
	}

	#navigation ul li
	{
	    list-style-type: none;
	    display: inline;
	}

	#navigation li:before {
		content: " | ";
	}

	#navigation li:first-child:before {
		content: none;
	}
</style>
</head>
<body>
	<div id='navigation'>
	    <ul>
	    {% for item in navigation %}
	        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
	    {% endfor %}
	    </ul>
	</div>
    
    <h1>My Webpage</h1>
    {{ subtitle }}
</body>
</html>